@import url(https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@100;200;300;400;500;600;700&display=swap);

body {
  font-family: "Roboto Condensed", sans-serif;
  line-height: 1.5;
  font-family: "Roboto Condensed", "Roboto", sans-serif;
  letter-spacing: 0.5px;
}

* {
  font-family: "Roboto Condensed", sans-serif;
  box-sizing: border-box;
}

/* Site header */
.site-header {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-header-actions {
  display: flex;
  align-items: center;
}

/*Site nav  */
.sitenav-list {
  display: flex;
  list-style: none;
}

.sitenav-link {
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
}

/* Main link  */
.main-link {
  font-size: 13px;
  line-height: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;

  position: static;
  width: 155px;
  height: 39px;
  left: 455px;
  top: 0px;
  background: #ff7500;
  opacity: 0.8;
  border-radius: 4px;
  flex: none;
  order: 4;
  flex-grow: 0;
  margin: 0px 32px;
  position: static;
  width: 107px;
  height: 15px;
  left: 24px;
  top: 12px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.5px;
  text-decoration: none;
  color: #ffffff;
}

/* Hero */

.hero {
  width: 1440px;
  height: 488px;
  left: -217px;
  top: 97px;
  display: flex;
  background: #252420;
  color: #fff;
  align-items: center;
  justify-content: space-between;
}

.hero-content {
  width: 390px;
}

.hero-img {
  position: absolute;
  width: 510px;
  height: 510px;
  left: 760px;
  top: 137px;

  background: url(.png);
  filter: drop-shadow(24px 24px 0px rgba(255, 117, 0, 0.6));
  border-radius: 8px;
}

.hero-line {
  width: 80px;
  height: 3px;
  background-color: #ff7500;
}

.hero-heading {
  width: 339px;
  height: 96px;
  left: 0px;
  top: 43px;
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 120%;
  color: #ffffff;
}

.orange-line {
  position: absolute;
  width: 80px;
  height: 3px;
  left: 170px;
  top: 794px;
  background: #ff7500;
}

/* Features */

.features-heading {
  width: 435px;
  height: 172px;
  left: 170px;
  top: 821px;
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 120%;
  letter-spacing: 0.5px;
  color: #000000;
}

.features-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

/* Feature */

.feature {
  width: 340px;
}

.feature-icon-wrapper {
  width: 100px;
  height: 100px;
  background-color: rgba(255, 117, 0, 0.2);
}

.feature-title {
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0.5px;
  color: #000000;
}

.feature-info {
  width: 314px;
  height: 72px;
  left: 0px;
  top: 41px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.5px;
  color: #000000;
}

/* Promo */

.promo {
  background: #252420;
  color: #ffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.promo-content {
  width: 440px;
}

.promo-heading {
  width: 373px;
  height: 96px;
  left: 234px;
  top: 1704px;
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0.5px;
  color: #ffffff;
}

.promo-text {
  font-size: 16px;
  line-height: 1.5;
}

.promo-highlight {
  color: #ff7500;
}

.promo-btn {
  background: #ff7500;
  opacity: 0.8;
  border-radius: 4px;
  text-decoration: none;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
}

.promo-img {
  width: 440px;
  height: 440px;
  object-fit: cover;
}

/* Site Footer */

.site-footer {
  background: #f8f8f8;
}

.site-footer-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-footer ul {
  list-style: none;
}

.site-footer-social {
  display: flex;
  align-items: center;
}

.site-footer-divider {
  height: 2px;
  background: rgba(37, 36, 32, 0.5);
}

.site-footer-bottom {
  display: flex;
}

.site-footer-links {
  width: 224px;
  line-height: 19px;
}

.site-footer-links a {
  text-decoration: none;
  color: #252420;
}
